/* login.css */

    body {
        overflow: auto;
        overflow-y: auto;
        z-index: 20;
    }

   

    .homepageContainer {
        display: flex;
        background: white;
        columns: '#454545';
        z-index: 1;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

        
    }

    .homepageHeader {
        background: #6cce58;
        height: auto;
        align-items: center;
        justify-content: center;
        align-content: center;
        z-index: 1;
    }


    .pulseBoxContainer {
        align-content: center; 
        align-items: center;
        justify-content: center; 
        height: clamp(300px, 20vw, 600px);         
        display: flex;
        position: relative;
    }

    .pulseAnimation {
        position: absolute; 
        width: 500px; 
        height: 500px;
        z-index: 0; 
        background-color: transparent;
    }

    .pulseBox {
        background-color: #05FF02;
        border-radius: 100px;
        height: 150px;
        width: 150px;
        position: relative;
        z-index: 1;
        justify-content: center;
        align-items: center;
        align-content: center;
        display: flex;


    }

    .introHomepage {
        font-size: 210%;
        margin-bottom: 10px;
    }

    .guestIntro, .totalConsShow, .totConsHeading {
        font-family: 'SpotifyFont', sans-serif;
        background: transparent;

    }

    .pinnedHeader, .editHeader {
        font-family: 'SpotifyFont', sans-serif;
        color: #21334a;
    }

    .shadowPinned {
        display: flex;
        align-items: center;
        justify-content: space-between;


    }

    @media (min-width: 481px) {

        .pulseAnimation {
            position: absolute; 
            width: 600px; 
            height: 600px;
            z-index: 0; 
            background-color: transparent;
        }

        .pulseBox {
            background-color: #05FF02;
            border-radius: 200px;
            height: 200px;
            width: 200px;
            position: relative;
            z-index: 1;
            justify-content: center;
            align-items: center;
            align-content: center;
            display: flex;
    
    
        }

        .pulseBoxContainer {
            margin-top: 20px;
        }

        .pinnedinfoContainer {
            gap: 200px;
        }
    }
        
    

  
    

  