.beatiTop {
    width: 100%;
    height: auto;
    background: #6cce58;
    margin-top: 0;
    padding: 0;
    display: flex;
    z-index: 1; /* Ensure content is above the background */
}

.beatiCont {
    position: relative;
    width: 100%;
    min-height: 100vh; /* Ensure it covers at least the full viewport height */
    overflow: auto;
    z-index: 0; /* Create a new stacking context */
}

.beatiCont::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    min-height: 100vh;
    background-image: url("./beatiBack.png"); /* Replace with your image path */
    background-size: cover; /* Ensure the image covers the entire container */
    background-position: center; /* Center the image */
    filter: blur(10px); /* Apply blur effect */
    z-index: -1; /* Place the background behind the content */
}

.beatiContentCont {
    background: transparent;
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%; /* Fix height to fill the container */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.dailyGoal {
    width: 60%;
    height: auto;  /* Increased height for visibility */
    background: white;
    z-index: 1;  /* Ensure it's not behind other content */
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.dailyGoalStack {
    background: transparent;
    justify-content: center;
    align-items: center;
}

.editBox {
    background: white;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 20%;
    height: auto;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-bottom: 10px;
}

.buttonCont {
    background: transparent;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.myCollection, .editGoal {
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 60%;
    height: auto;
}

.shelves {
    width: 100%;
    height: auto;
}