/* Global Styles */
body {
  background-color: white;
  font-family: 'spotifyFontLight', sans-serif;
  font-weight: bold;
  margin: 0;
  padding: 0;
  height: 100%;
}

* {
  background-color: white;
  font-family: 'spotifyFontLight', sans-serif;
  font-weight: bold;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

/* Ensure the content section expands to fill remaining space */
.main-content {
  flex: 1;
  overflow: auto;  /* Allows scrolling when content is long */
}

/* Ensure the Navbar stays at the bottom */
.navbar {
  position: relative;
  margin-top: auto;
}

/* Fonts and styling for specific elements */
.Sukoon-logo {
  font-family: 'BrooklynFont', sans-serif;
}

@font-face {
  font-family: 'SpotifyFont';
  src: url('./Gotham-Black.otf') format('opentype');
  font-weight: 400;  
  font-style: normal;
  color: black;
}

@font-face {
  font-family: 'BrooklynFont';
  src: url('./Brooklyn_Normal_1.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
  color: black;
}

@font-face {
  font-family: 'spotifyFontLight';
  src: url('./GothamBook.ttf') format('truetype'); 
  font-weight: bold;
  font-style: normal;
  color: black;
}

/* Universal Reset for Margin/Padding */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Responsive Typography */
.introGuest,
.totalConsShow,
.totConsHeading,
.yourhome,
.edithomes,
.roomshd,
.deviceNameConfig,
.roomName {
  font-family: 'SpotifyFont', sans-serif;
}
